.wall{
    background-color: #666;
    height: 2px;
    width: 100%;
    flex-shrink: 0;
    margin-top: 42px;
}
#wall{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 225px;
    align-items: center;
}
.six{
    display: flex;
    flex-direction: row;
    gap: 65.5px;
}
#six{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#six img{
    width: 30px;
    height: 29.26px;
}
.prestige{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 52px;
}
.href a{
    color: var(--Solid-Heading, #42446E);
    font-family: var(--DM);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.href{
    display: flex;
    flex-direction: row;
    gap: 52px;
}