.lin{
    text-decoration-line: none;
    color: #666;
    text-align: center;
    font-family: var(--DM);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.logo{
    margin-right: 306px;
}
/* .tww{
margin-left: 51px
} */
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#hope{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-left: 500px;
}
.wis{
    width: 100%;
    position: sticky;
    top: 0;
}
.download button{
    width: 200px;
    height: 50px;
    border: 1px solid blue;
    background-color: transparent;
    color: blue; 
    font-family: var(--asap);
    font-size: 18px;
    margin-bottom: 20px;
    align-items: center;
}
.download{
    text-decoration: none;
}

@media (max-width: 1030px) {
    #hope {
            margin-left: 150px;
        }
}
@media(max-width:769px){
#hope {
        margin-left: 0px;
    }

    .download {
        display: flex;
        align-items: center;
        justify-content: space-around;
}
}