.im{
    border-radius: 50%;
    border: 9px solid #E70FAA;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    width: 310px;
}
.deve h2{
   color:  #000;
    font-family: var(--pop);
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
}
.deve h3{
    color: #000;
    font-family: var(--pop);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;

}
.deve p{
    color: #000;
    font-family: var(--pop);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    width: 40%;
}
.but button{
    border-radius: 8px;
    background: var(--Primary-colour, #7562E0);
    width: 120px;
    height: 40px;
    border: none;
    font-family: var(--pop);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
}
.but button:hover{
    border: 2px solid var(--Primary-colour, #7562E0);
    background-color: transparent;
    color: #000;
}
.batt{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.hom{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 150px;
}

@media(max-width: 780px){
    .im{
        width: 300px;
    }
    
}
@media(max-width: 500px) {
    .im{
        display: none;   
}
.hom{
    flex-direction: column;
    margin-top: 20px;
}
.deve p{
    width: 100%;
}
.deve h2{
    font-size:35px ;
}
.deve h3{
    font-size: 22px;
}
}